@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css');

.home .navbar {
  background-image: url("../images/bg.jpg");
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', sans-serif;
}

.navbar-nav > li{
  font-family: 'Amatic SC', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #FEFDFE;
}

.home .navbar {
  min-height: 100vh;
}

body, p{
  font-size: 20px;
}

.offcanvas{
  background-color: #426B69;
  max-width: 85%;
}

#wrapper-footer-full{
  background-image: url("../images/footer_bg.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 548px;
}

.site-promo{

}

.site-about{
  background-image: url("../images/about.png");
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
}

.navbar-dark .navbar-nav .nav-link{
  font-size: 25px;
}

.gallery .gallery-item{

}

.gallery .gallery-item:first-child{
  margin-left: 0;
}


.gallery .gallery-item:last-child{
  margin-right: 0;
}

#wrapper-footer{
  display: none;
}

#page-wrapper{
  padding: 0;
}

.footer-widget h3{
  font-size: 50px;
  margin-bottom: 50px;
}

.footer-widget a{
  color: #FEFDFE;
  text-decoration: none;
}

.footer-widget .wpcf7{
  max-width: 360px;
}

.footer-widget .wpcf7 input[type=submit],
.footer-widget .wpcf7 input::placeholder {
  color: #fff !important;
}


.wrapper{
  background-image: url("../images/bg.png");
  background-position: top center;
  background-repeat: repeat-y;
  background-size: cover;
}

.page:not(.home) .gallery .gallery-item{
  max-width: 100% !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3.5rem !important;
  height: 3.5rem;
}

@media (max-width: 575.98px) {
  #wpcf7-f87-o2{
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px !important;
  }
  .custom-logo-link .img-fluid{
    max-width: 75px;
  }
  .home .navbar {
    min-height: 30vh;
  }
}


@media (min-width: 1200px) {
  .home .navbar {
    background-size: cover;
  }
}


@media (max-width: 767.98px) {
  .home .navbar {
    min-height: 45vh;
  }
}
