// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$primary: #B49B9B;
$secondary: #33202A;
$body-bg: #33202A;
$body-color: #FEFDFE;

//$font-family-base: 'jejumyeongjo-regular', 'JejuMyeongjo', sans-serif;
$font-family-base: 'Jeju Myeongjo', serif;

$navbar-dark-color: rgba(255, 255, 255, 1);

$carousel-control-prev-icon-bg:      url("../images/left.png");
$carousel-control-next-icon-bg:      url("../images/right.png");